<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}moja strona{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">strona główna</a> |
            <a href="/tickets">zgłoszenia</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>stopka strony</p>
    </footer>
</body>
</html>